<section>
  <aside class="scrollable {{#unless hasKeywords}}no-score{{/unless}}">
    {{#each images}}
    {{> "modules/zhell-custom-stuff/templates/apps/image-search/image.hbs"}}
    {{/each}}
  </aside>
</section>
