<figure>
  <img src="{{filePath}}" alt="{{label}}">
  <figcaption>{{label}}</figcaption>

  <button type="button" data-action="showImage" class="icon fa-solid fa-eye"></button>
  <span class="score">{{score}}</span>
</figure>
