<label class="forage" aria-label="Materia Medica">
  <a data-action="forage">
    <i class="fa-solid fa-tree" data-tooltip="ZHELL.CRAFTING.resources"></i>
  </a>
  <input name="flags.zhell-custom-stuff.materia-medica.value" type="text" value="{{foraged}}" data-dtype="Number" placeholder="0">
</label>
