<div class="counter flexrow materia-medica">
  <h4 class="rollable" data-action="forage">{{localize "ZHELL.Foraging"}}</h4>
  <div class="counter-value wide">
    <input name="flags.zhell-custom-stuff.materia-medica.value" type="text" value="{{foraged}}" data-dtype="Number" placeholder="0">
  </div>
</div>

<div class="counter flexrow money-spender">
  <h4 class="rollable" data-action="spend-money">{{localize "ZHELL.SpendMoney"}}</h4>
  <div class="counter-value">{{totalCurrency}} gp</div>
</div>
