<form name="gm-tool-header">
  <div class="form-group save">
    <div class="form-fields">
      <label>Saving Throw:</label>
      <div class="save-inputs">
        <select id="save-type">{{{abilityOptions}}}</select>
        <input type="number" id="save-dc" placeholder="Save DC">
      </div>
      <div class="checks">
        <label for="save-target">Target fails:</label>
        <input type="checkbox" id="save-target">
      </div>
    </div>
  </div>

  <div class="additions">
    <div class="form-group effect">
      <div class="form-fields">
        <button name="status-create">
          <i class="fa-solid fa-skull"></i> Add Status Effect
        </button>
        <div class="checks">
          <label for="status-resist">Resist Effects:</label>
          <input type="checkbox" id="status-resist">
        </div>
      </div>
    </div>

    <div class="form-group damage">
      <div class="form-fields">
        <button name="damage-create">
          <i class="fa-solid fa-bolt"></i> Add Damage Part
        </button>
        <div class="checks">
          <label for="damage-resist">Resist Damage:</label>
          <input type="checkbox" id="damage-resist">
          <label for="damage-noDamage">No Damage on Success:</label>
          <input type="checkbox" id="damage-noDamage">
          <label>Properties:</label>
          <div class="weaponProperties">
            <label for="mgc">mgc:</label><input type="checkbox" id="mgc">
            <label for="sil">sil:</label><input type="checkbox" id="sil">
            <label for="ada">ada:</label><input type="checkbox" id="ada">
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

<hr>

<form class="list-container">
  <div class="status-container"></div>
  <div class="damage-container"></div>
</form>
