<div class="counter flexrow materia-medica">
  <h4 class="rollable" data-action="foraging">Foraging</h4>
  <div class="counter-value">
    <input name="{{name}}" type="text" value="{{value}}" data-dtype="Number" placeholder="0">
  </div>
</div>
