<div class="counter flexrow materia">
  <h4 class="rollable" data-action="foraging">Foraging</h4>
  <div class="counter-value">
    <input class="material" name="{{name}}" type="number" value="{{value}}" data-dtype="Number" min="0" max="999" oninput="validity.valid || (value={{value}})" placeholder="0">
  </div>
</div>
