<div class="zhell-custom-stuff heart-containers">
  <button data-action="toggle" {{#if active}}class="active" {{/if}}><i class="fa-solid"></i></button>
  <div class="hearts">
    {{#each hearts}}
    <span class="heart {{#if isEmpty}}empty{{/if}} {{#if isYellow}}tempmax{{else if isRed}}value{{else}}black{{/if}}">
      <i class="fa-heart {{ifThen isEmpty 'fa-regular' 'fa-solid'}} {{#if pulse}}fa-beat{{/if}}"></i>
    </span>
    {{/each}}
  </div>
  <div class="hearts temp">
    {{#each tempHearts}}
    <span class="heart">
      <i class="fa-heart fa-solid"></i>
    </span>
    {{/each}}
  </div>
</div>
