<section>
  {{#each craftingOptions}}
  <fieldset class="card">
    <legend>{{{label}}}</legend>
    <button type="button" data-action="craft" data-uuid="{{uuid}}">Create</button>
  </fieldset>
  {{/each}}
</section>
