<div class="materia-medica-crafting">
    <div class="dialog-content">
        <p class="description">Which type of bomb do you want to create?</p>
    </div>
    <div class="button-container">
        {{{bombButtons}}}
    </div>
</div>
