<div class="materia-medica-crafting">
    <div class="dialog-content">
        <p class="description">Which type of poison do you want to create?</p>
    </div>
    <div class="button-container">
        <div class="dialog-buttons">
            <button class="option-button scale poison" data-id="{{paintId}}" data-cost="2" data-scale="damage">Goblin Paint</button>
            <select class="option-select">
                {{{paintOptions}}}
            </select>
        </div>
        {{{paintDescription}}}
        <hr>
        {{{poisonButtons}}}
    </div>
</div>
