<div class="materia-medica-crafting">
  <div class="dialog-content">
    <p class="description">Which type of item do you want to create?</p>
  </div>
  <div class="dialog-buttons main">
    <button class="option-button poison" name="craft-poison">
      <i class="fa-solid fa-skull"></i> Poison
    </button>
    <button class="option-button potion" name="craft-potion">
      <i class="fa-solid fa-flask"></i> Potion
    </button>
    <button class="option-button bomb" name="craft-bomb">
      <i class="fa-solid fa-bomb"></i> Bomb
    </button>
  </div>
</div>
