<div class="materia-medica-crafting">
    <div class="dialog-content">
        <p class="description">Which type of item do you want to create?</p>
    </div>
    <div class="dialog-buttons main">
        <button class="option-button poison" name="craft-poison">
            <i class="fas fa-skull"></i><div>Poison</div>
        </button>
        <button class="option-button potion" name="craft-potion">
            <i class="fas fa-flask"></i><div>Potion</div>
        </button>
        <button class="option-button bomb" name="craft-bomb">
            <i class="fas fa-bomb"></i><div>Bomb</div>
        </button>
    </div>
</div>
