<div class="result">
  <div class="type" data-tooltip="{{type}}">{{type}}</div>
  <a class="formula" data-tooltip="{{formula}}">
    <i class="fa-solid fa-dice-d20"></i> {{total}}
  </a>
  <a class="add-forageables {{#if success}}active{{/if}}">
    <i class="fa-solid fa-check"></i>
  </a>
</div>
