<div class="form">
  <div class="tally">
    <div class="label">Spending:</div>
    <a data-action="change-denom" data-value="0" data-denom="gp">0.00</a>
  </div>

  <div class="utils">
    {{#each currencies}}
    <div class="util" data-currency="{{label}}">
      <a data-action="adjust-up"><i class="fa-solid fa-arrow-up"></i></a>
      <div class="currency">
        <div class="value">0</div>
        <div class="label">{{label}}</div>
      </div>
      <a data-action="adjust-down"><i class="fa-solid fa-arrow-down"></i></a>
      <div class="current">({{value}})</div>
    </div>
    {{/each}}
  </div>

  <div class="footer">
    <button data-action="submit">
      <i class="fa-solid fa-coins"></i> {{localize "Save"}}
    </button>
  </div>
</div>
