<div class="content">
  <div class="level-track">
    Total Level: <span class="current">0</span> / <span class="max">{{max}}</span>
  </div>

  <button data-action="add-row">
    <i class="fa-solid fa-plus"></i> Add One More
  </button>

  <form class="dnd5e spells">
    <div class="form-group" data-tooltip-direction="LEFT">
      <label>Spell:</label>
      <div class="form-fields">
        <select>{{{options}}}</select>
        <a data-action="delete"><i class="fa-solid fa-trash"></i></a>
      </div>
    </div>
  </form>

  <button data-action="create">
    <i class="fa-solid fa-scroll"></i> Create Scrolls
  </button>
</div>
