<form class="flexcol">
    <div class="form-group">
        <label class="zhell-custom-stuff zhell-label-name" for="zhell-rename-rest-labels">Rename Rest Labels</label>
        <div class="form-fields">
            {{#if rename_rest_labels}}
            <input class="zhell-custom-stuff zhell-rename-rest-labels" id="zhell-rename-rest-labels" type="checkbox" checked>
            {{else}}
            <input class="zhell-custom-stuff zhell-rename-rest-labels" id="zhell-rename-rest-labels" type="checkbox">
            {{/if}}
        </div>
        <p class="notes">Rename the labels on short and long rest to SR and LR on the core sheet.</p>
    </div>
    <div><hr></div>
    <div class="form-group">
        <label class="zhell-custom-stuff zhell-label-name" for="zhell-remove-resources">Remove Resources</label>
        <div class="form-fields">
            {{#if remove_resources}}
            <input class="zhell-custom-stuff zhell-remove-resources" id="zhell-remove-resources" type="checkbox" checked>
            {{else}}
            <input class="zhell-custom-stuff zhell-remove-resources" id="zhell-remove-resources" type="checkbox">
            {{/if}}
        </div>
        <p class="notes">Remove the resources from the core sheet. They still function, but will not show up.</p>
    </div>
    <div class="form-group">
        <label class="zhell-custom-stuff zhell-label-name" for="zhell-remove-alignment">Remove Alignment Field</label>
        <div class="form-fields">
            {{#if remove_alignment}}
            <input class="zhell-custom-stuff zhell-remove-alignment" id="zhell-remove-alignment" type="checkbox" checked>
            {{else}}
            <input class="zhell-custom-stuff zhell-remove-alignment" id="zhell-remove-alignment" type="checkbox">
            {{/if}}
        </div>
        <p class="notes">Remove the alignment field from the top of the core sheet.</p>
    </div>
    <div><hr></div>
    <div class="form-group">
        <label class="zhell-custom-stuff zhell-label-name" for="zhell-disable-initiative-button">Disable Initiative Button</label>
        <div class="form-fields">
            {{#if disable_initiative_button}}
            <input class="zhell-custom-stuff zhell-disable-initiative-button" id="zhell-disable-initiative-button" type="checkbox" checked>
            {{else}}
            <input class="zhell-custom-stuff zhell-disable-initiative-button" id="zhell-disable-initiative-button" type="checkbox">
            {{/if}}
        </div>
        <p class="notes">Disable use of the Initiative header on the core sheet.</p>
    </div>
    <div><hr></div>
    <div class="form-group">
        <label class="zhell-custom-stuff zhell-label-name" for="zhell-create-forage-counter">Create Forage Counter</label>
        <div class="form-fields">
            {{#if create_forage_counter}}
            <input class="zhell-custom-stuff zhell-create-forage-counter" id="zhell-create-forage-counter" type="checkbox" checked>
            {{else}}
            <input class="zhell-custom-stuff zhell-create-forage-counter" id="zhell-create-forage-counter" type="checkbox">
            {{/if}}
        </div>
        <p class="notes">Create a counter on the core sheet to track the quantity of foraged materials.</p>
    </div>
    <div><hr></div>
    <div class="form-group">
        <label class="zhell-custom-stuff zhell-label-name" for="zhell-pretty-trait-selector">Reformat Trait Selectors</label>
        <div class="form-fields">
            {{#if pretty_trait_selector}}
            <input class="zhell-custom-stuff zhell-pretty-trait-selector" id="zhell-pretty-trait-selector" type="checkbox" checked>
            {{else}}
            <input class="zhell-custom-stuff zhell-pretty-trait-selector" id="zhell-pretty-trait-selector" type="checkbox">
            {{/if}}
        </div>
        <p class="notes">Make the language, resistances, and proficiency selectors less of an eye-sore.</p>
    </div>
    <div><hr></div>
    <div class="form-group">
        <label class="zhell-custom-stuff zhell-label-name" for="zhell-collapsible-headers">Collapsible Headers</label>
        <div class="form-fields">
            {{#if collapsible_headers}}
            <input class="zhell-custom-stuff zhell-collapsible-headers" id="zhell-collapsible-headers" type="checkbox" checked>
            {{else}}
            <input class="zhell-custom-stuff zhell-collapsible-headers" id="zhell-collapsible-headers" type="checkbox">
            {{/if}}
        </div>
        <p class="notes">Makes the headers on the sheet collapsible.</p>
    </div>
    <div><hr></div>
</form>
<header class="zhell-custom-stuff zhell-submenu-header">
    <button type="submit" name="submit" class="zhell-custom-stuff zhell-settings-save">
        <i class="fas fa-save"></i> Save Settings
    </button>
</header>
