<form class="flexcol">
  <div class="form-group">
    <label for="addConditions">Add New Conditions</label>
    <div class="form-fields">
      <input name="addConditions" type="checkbox" {{checked addConditions}}>
    </div>
    <p class="notes">An addition to current available conditions.</p>
  </div>
  <div>
    <hr>
  </div>
  <div class="form-group">
    <label for="addEquipmentTypes">Add New Equipment Types</label>
    <div class="form-fields">
      <input name="addEquipmentTypes" type="checkbox" {{checked addEquipmentTypes}}>
    </div>
    <p class="notes">An addition to current available equipment types. Not armor.</p>
  </div>
  <div>
    <hr>
  </div>
  <div class="form-group">
    <label for="addPiety">Add Piety Ability Score</label>
    <div class="form-fields">
      <input name="addPiety" type="checkbox" {{checked addPiety}}>
    </div>
    <p class="notes">Adds 'Piety' as a new ability score.</p>
  </div>
  <div>
    <hr>
  </div>
  <div class="form-group">
    <label for="addDivine">Add Divine Spell School</label>
    <div class="form-fields">
      <input name="addDivine" type="checkbox" {{checked addDivine}}>
    </div>
    <p class="notes">Add 'Divine' as a spell school.</p>
  </div>
  <div>
    <hr>
  </div>

  <header>
    <button type="submit" name="submit">
      <i class="fa-solid fa-save"></i> Save Settings
    </button>
  </header>
</form>
