<form class="flexcol">
    <div class="form-group">
        <label class="zhell-custom-stuff zhell-label-name">Uncommon</label>
        <div class="form-fields">
            <input type="color" value="{{uncommon}}" data-edit="color-input-uncommon">
            <input name="color-input-uncommon" class="zhell-custom-stuff zhell-color-uncommon" type="text" value="{{uncommon}}"> 
        </div>
    </div>
    <div class="form-group">
        <label class="zhell-custom-stuff zhell-label-name">Rare</label>
        <div class="form-fields">
            <input type="color" value="{{rare}}" data-edit="color-input-rare">
            <input name="color-input-rare" class="zhell-custom-stuff zhell-color-rare" type="text" value="{{rare}}"> 
        </div>
    </div>
    <div class="form-group">
        <label class="zhell-custom-stuff zhell-label-name">Very Rare</label>
        <div class="form-fields">
            <input type="color" value="{{very_rare}}" data-edit="color-input-very-rare">
            <input name="color-input-very-rare" class="zhell-custom-stuff zhell-color-very-rare" type="text" value="{{very_rare}}"> 
        </div>
    </div>
    <div class="form-group">
        <label class="zhell-custom-stuff zhell-label-name">Legendary</label>
        <div class="form-fields">
            <input type="color" value="{{legendary}}" data-edit="color-input-legendary">
            <input name="color-input-legendary" class="zhell-custom-stuff zhell-color-legendary" type="text" value="{{legendary}}"> 
        </div>
    </div>
    <div class="form-group">
        <label class="zhell-custom-stuff zhell-label-name">Artifact</label>
        <div class="form-fields">
            <input type="color" value="{{artifact}}" data-edit="color-input-artifact">
            <input name="color-input-artifact" class="zhell-custom-stuff zhell-color-artifact" type="text" value="{{artifact}}"> 
        </div>
    </div>
    <div><hr></div>
</form>
<header class="zhell-custom-stuff zhell-submenu-header">
    <button type="submit" name="submit" class="zhell-custom-stuff zhell-settings-save">
        <i class="fas fa-save"></i> Save Settings
    </button>
</header>
