<li class="items-header flexrow" data-effect-type="statusCondition">
  <h3 class="item-name effect-name flexrow">Add Status Condition</h3>
  <div class="item-controls effect-controls flexrow">
    <a class="effect-control" data-action="statusCondition" data-tooltip="DND5E.EffectCreate">
      <i class="fas fa-plus"></i> {{localize "DND5E.Add"}}
    </a>
  </div>
</li>
