/* MONEY SPENDER */
.zhell-custom-stuff.money-spender .content {
  display: flex;
  flex-direction: column;
  margin: 5px;
  justify-content: space-between;
}
.zhell-custom-stuff.money-spender .content [data-action="change-denom"] {
  display: inherit;
  font-size: 30px;
  justify-content: inherit;
  padding: 0 2rem;
}
.zhell-custom-stuff.money-spender .content .currencies {
  display: inherit;
  justify-content: space-around;
}
.zhell-custom-stuff.money-spender .content .currencies .currency {
  display: inherit;
  flex-direction: column;
  align-items: center;
  width: 4em;
}
.zhell-custom-stuff.money-spender .content .currencies .currency [data-action="adjust"] {
  background-color: cornsilk;
}
.zhell-custom-stuff.money-spender .content .currencies .currency [data-action="adjust"]:disabled {
  color: lightgray;
  cursor: default;
}
.zhell-custom-stuff.money-spender .content .currencies .currency .spent {
  padding: 5px 0;
}
.zhell-custom-stuff.money-spender .content .currencies .currency .label {
  padding: 5px 0;
  text-transform: uppercase;
}
.zhell-custom-stuff.money-spender .content .currencies .currency .remaining {
  padding: 5px 0;
  font-style: italic;
}
