/* ANCHOR SELECTOR DIALOG */
.zhell-custom-stuff.image-selector {
  min-width: 400px;
  height: auto !important;

  .selections {
    margin: 1em 0;
    gap: 1em;
    display: flex;
    flex-direction: column;
  }

  & img {
    opacity: 0.2;
    border: none;
    transition: 0.2s;
    width: 80%;

    &:hover {
      opacity: 0.75;
    }
  }

  .row {
    display: flex;
    justify-content: space-around;
    align-items: center;

    & a {
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex: 1;
    }
  }

  .active img {
    opacity: 1;
    filter: drop-shadow(2px 4px 6px black);
  }
}
