/* COLUMN DIALOG */
.dialog.column-dialog {
  height: auto !important;

  .dialog-buttons {
    flex-direction: column;
    gap: 5px;
  }

  .dynamic-tooltip {
    margin: 0 1em;
    font-style: italic;
    min-height: 100px;
  }
}
