/* MAYHEM */
.zhell-custom-stuff.mayhem {
  padding: 0.25em 0;
  margin: 0.5em 0;
  border-top: solid;
  border-bottom: solid;
  display: flex;
  flex-direction: column;
  border-radius: 2em;
  font-size: 2em;
  font-family: 'Modesto Condensed';
  align-items: center;
}
