/** TARGET SEQUENCE PICKER */
.zhell-custom-stuff.target-sequence {
  height: auto !important;
  width: auto !important;
}
.zhell-custom-stuff.target-sequence .row {
  padding: 0.5em 0;
  margin: 0 0 0.5em 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px groove;
  width: 100%;
}
.zhell-custom-stuff.target-sequence .target img:hover {
  filter: drop-shadow(0 0 1px red);
}
.zhell-custom-stuff.target-sequence img {
  width: 100px !important;
  height: 100px !important;
  border: none;
  margin: 0 0.25em;
}
.zhell-custom-stuff.target-sequence img.default {
  border-radius: 2em;
  opacity: 0.25;
}
.zhell-custom-stuff.target-sequence .next:last-of-type {
  display: none;
}
.zhell-custom-stuff.target-sequence .label {
  font-family: "Modesto Condensed";
  font-size: 35px;
}
