/* MATERIA MEDICA */
.sheet.journal-entry .materia-medica :is(h1, h2, h3) {
  border: none;
  font-family: "Modesto Condensed";
  text-align: center;
}
.sheet.journal-entry .materia-medica p {
  text-align: justify;
}
.sheet.journal-entry .materia-medica h1 {
  font-size: 40px;
}
.sheet.journal-entry .materia-medica h2 {
  font-size: 30px;
}
.sheet.journal-entry .materia-medica h3 {
  font-size: 25px;
}
.sheet.journal-entry .materia-medica table th {
  text-align: center;
  padding: 15px;
}
.sheet.journal-entry .materia-medica a.content-link {
  display: block;
  padding: 5px;
}
.sheet.journal-entry .materia-medica table td:nth-child(2) {
  text-align: center;
}
