/* BANNED SPELL LIST */
.banned-spell-list a.content-link {
  display: block;
  background-color: #c27e7e;
  font-size: 20px;
  text-align: center;
  border-radius: 50px;
}
.banned-spell-list > h2 {
  text-align: center;
  text-transform: uppercase;
  font-family: monospace;
}
.banned-spell-list > p:first-child {
  font-size: 20px;
  font-style: italic;
  width: 75%;
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
}
.banned-spell-list i.fa-solid.fa-suitcase:before {
  content: "\f00d";
  color: black;
}
