/* PANTHEON */
.havilon-deity-table {
  margin: auto;
  max-width: fit-content;
}
.havilon-deity-table thead {
  border-bottom: none;
}
.havilon-deity-table td {
  font-style: italic;
  font-size: 18px;
  text-align: center;
  padding: 0.25em 1em;
}
.havilon-deity-table th {
  height: 3em;
  text-align: center;
  padding: 0.25em 1em;
}
.havilon-deity-table tr:nth-child(even) {
  background-color: inherit;
}
.havilon-deity-table tbody th {
  background: rgba(0, 0, 0, 0.5);
  color: var(--color-text-light-highlight);
  text-shadow: 1px 1px var(--color-shadow-dark);
}
h1.zhell-pantheon {
  font-size: 40px;
  text-align: center;
  border: 2px solid darkred;
  border-radius: 20px;
  text-transform: uppercase;
  background-color: darkgray;
}
h1.zhell-pantheon.white-half {
  background-color: darkgray;
}
h1.zhell-pantheon.dark-half {
  background-color: darkolivegreen;
}
.sheet.journal-entry .journal-entry-page :is(h2, h3).zhell-deity,
.sheet.journal-entry-page .zhell-deity {
  text-align: center;
  font-family: "Modesto Condensed";
  margin: 0;
  border: none;
}
h2.zhell-deity.dom {
  font-size: 40px;
}
h3.zhell-deity.sub {
  font-size: 20px;
}
div.zhell-holy-symbol {
  text-align: center;
}
img.zhell-holy-symbol {
  width: 40%;
  border: none;
  filter: drop-shadow(0 0 5px black);
  transition: 0.3s;
  padding-top: 1em;
}
img.zhell-holy-symbol:hover {
  transform: scale(1.3);
  transition: 0.3s;
  filter: drop-shadow(0 0 10px red) !important;
}
img.zhell-holy-symbol.draconiz:hover {
  filter: drop-shadow(0 0 10px purple) !important;
}
img.zhell-holy-symbol.emissary:hover {
  filter: drop-shadow(0 0 10px blue) !important;
}
img.zhell-holy-symbol.arepo:hover {
  filter: drop-shadow(0 0 10px green) !important;
}
img.zhell-holy-symbol.murk:hover {
  filter: drop-shadow(0 0 10px green) !important;
}
img.zhell-holy-symbol.thrizur:hover {
  filter: drop-shadow(0 0 10px darkgreen) !important;
}
