/* PARTY FEATURES */
.sheet.journal-entry .journal-entry-page .party-features {
  display: grid;
  gap: 1em;
}
.sheet.journal-entry .journal-entry-page .party-feature {
  display: inherit;
  grid-template-columns: 1fr 3fr;
  gap: inherit;
}
.sheet.journal-entry .journal-entry-page .party-feature-image {
  display: flex;
  align-items: center;
}
.sheet.journal-entry .journal-entry-page .party-feature-image img {
  border: none;
  border-radius: 1em;
}
.sheet.journal-entry .journal-entry-page .party-feature-details h1 {
  font-size: 35px;
  text-align: center;
  border: none;
  font-family: "Modesto Condensed";
}
.sheet.journal-entry .journal-entry-page .party-feature-details p {
  text-align: justify;
  font-size: 15px;
}
