/* MONSTER STAT BLOCKS */
.monster-stat-block {
  margin: 1em;
  padding: 0.5em 1em;
  background: burlywood;
  border: inset 0.3em indianred;
  border-radius: 5px;
}
:not(.actor) .monster-stat-block :is(.traits, .abilities) {
  border-bottom: 2px groove indianred;
  padding: 0.4em 0;
  margin: 0;
}
.monster-stat-block .name {
  font-size: 30px;
  font-family: "Modesto Condensed";
  border-bottom: 2px groove indianred;
  margin: 0;
  line-height: 28px;
}
.monster-stat-block .details {
  font-style: italic;
  padding: 3px 0 0 3px;
  margin: 0;
}
.monster-stat-block .label {
  font-weight: bold;
  white-space: nowrap;
}
.monster-stat-block .traits .trait {
  margin: 0;
}
.monster-stat-block .abilities {
  display: flex;
  justify-content: center;
  gap: 5px;
}
.monster-stat-block .abilities .score {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}
.monster-stat-block .abilities .modifier {
  text-align: center;
}
.monster-stat-block .header {
  font-size: 25px;
  font-family: "Modesto Condensed";
  border-bottom: 2px groove indianred;
  margin: 0;
  line-height: 28px;
}
