body :root {
    --full_color: #b33737;
    --attuned_color: #7a7971;
    --not_attuned_color: #44191A;
	--prepared_color: #7a7971;
	--not_prepared_color: #44191A;
	--always_prepared_color: #7F7F7F;
	--equipped_color: #7a7971;
	--not_equipped_color: #44191A;
    color:rgb(0, 0, 0)
}

.dnd5e .items-list .dot {
    height: 15px;
    width: 15px;
    max-height: 15px;
    max-width: 15px;
    background-color: var(--full_color);
    border-radius: 50%;
    display: inline-block;
}

.dnd5e .items-list .dot.empty {
    height: 15px;
    width: 15px;
    max-height: 15px;
    max-width: 15px;
    background-color: rgb(169, 162, 162);
    border-radius: 50%;
    display: inline-block;
}

.dnd5e.sheet.actor .inventory-list .item .item-name i.attuned {
    color: var(--attuned_color) !important;
    filter: drop-shadow(0px 0px 1px black);
}

.dnd5e.sheet.actor .inventory-list .item .item-name i.not-attuned {
    color: var(--not_attuned_color)!important;
    filter: drop-shadow(0px 0px 1px black);
}

.dnd5e.sheet.actor .inventory-list .item .item-name i:hover {
    text-shadow: 0 0 8px var(--color-shadow-primary)!important;
	padding-top: 8px;
	padding-bottom: 8px;
}

.dnd5e.sheet.actor .inventory-list .item .item-controls .item-toggle.active i {
    color: var(--equipped_color)!important;
    filter: drop-shadow(0px 0px 1px black);
}

.dnd5e.sheet.actor .inventory-list .item .item-controls .item-toggle:not(.active) i {
    color: var(--not_equipped_color)!important;
    filter: drop-shadow(0px 0px 1px black);
}

.dnd5e.sheet.actor .tab.spellbook .item-controls .item-control.item-toggle.active i {
    color: var(--prepared_color) !important;
    filter: drop-shadow(0px 0px 1px black);	
}

.dnd5e.sheet.actor .tab.spellbook .item-controls .item-control.item-toggle.fixed i {
    color: var(--always_prepared_color) !important;
    filter: drop-shadow(0px 0px 1px black);	
}

.dnd5e.sheet.actor .tab.spellbook .item-controls .item-control.item-toggle:not(.active):not(.fixed) i {
    color: var(--not_prepared_color)!important;
    filter: drop-shadow(0px 0px 1px black);
}

.dnd5e.sheet.actor .item-controls .item-delete {
	color: darkred;
}

.dnd5e.sheet.actor .item-controls .effect-control[data-action=delete] {
	color: darkred;
}