/* Actor sheet edits. */
.dnd5e.sheet.actor.character .attributes .attribute.hit-dice .attribute-footer {
  display: flex;
  line-height: 15px;
  gap: 2px;
  margin: 0 2px;
}
.dnd5e.sheet.actor.character .attributes .attribute.hit-dice a.rest {
  flex: 1;
  min-width: 0;
  padding: 0;
  margin: 0;
}
.dnd5e.sheet.actor .items-list .items-header.zhell-header-collapse h3:hover {
  text-shadow: 0 0 8px var(--color-shadow-primary) !important;
  cursor: pointer;
}
.dnd5e.sheet.actor .items-header.flexrow.no-create,
.dnd5e.sheet.actor .items-header.flexrow.no-create * {
  color: darkgray;
}
.dnd5e.sheet.actor .tab.attributes.flexrow .center-pane .attributes,
.dnd5e.sheet.actor.character .summary .alignment,
.dnd5e.sheet.actor .spell-school,
.dnd5e.sheet.actor .items-header.flexrow.no-create + ol,
.dnd5e.sheet.actor .items-header.flexrow.no-create + ol + ol,
.dnd5e.sheet.actor .items-header.flexrow.no-create .item-control.item-create,
.dnd5e.sheet.actor .items-header.flexrow.no-create .effect-control {
  display: none;
}
.dnd5e.sheet.actor .counters .counter-value.wide input {
  max-width: 40px;
  width: fit-content;
  text-align: right;
  padding-right: 5px;
}
