/* -------------------------------------------------- */

#boss-bar {
  position: absolute;
  top: 1em;
  pointer-events: none;
  transition: 200ms all ease;
  opacity: 0;
  flex-direction: column;
  width: calc(max(450px, 100vw - 312px - 48px - 50px - 72px - 170px - 24px - 12rem));

  &:has(.active) {
    opacity: 1;
  }

  .bars {
    anchor-name: --boss-bar;
    width: 100%;
    box-shadow: inherit;
    opacity: 0.7;
  }

  .bar {
    min-height: 4em;
    overflow: hidden;
    border-radius: 4px;
    box-shadow: 0 0 5px black;
    display: flex;
    position: relative;

    .progress {
      position: absolute;
      top: 0;
      bottom: 0;
      box-shadow: inherit;
      border-radius: inherit;

      &.hp {
        z-index: 2;
        background: linear-gradient(160deg, black 0%, transparent 50%);
      }

      &.temp {
        top: 60%;
        border-top-left-radius: 0;
        border-bottom-right-radius: 0;
        z-index: 3;
        background: linear-gradient(160deg, rgb(44, 44, 255) 0%, transparent 50%);
      }

      &.tempmax {
        right: 0;
        z-index: 1;
        background: linear-gradient(160deg, rgb(226, 0, 226) 0%, transparent 50%);
      }
    }

    .name {
      position: fixed;
      overflow: hidden;
      position-anchor: --boss-bar;
      top: calc(anchor(bottom) - 15px);
      border: 2px solid var(--dnd5e-color-gold);
      color: #cfd2da;
      border-radius: 4px;
      z-index: 4;
      font-family: 'Modesto Condensed';
      font-size: 40px;
      justify-self: anchor-center;
      text-box: trim-both cap alphabetic;
      box-shadow: inherit;
      min-width: 300px;
      min-height: 60px;
      padding: 0 50px;
      text-align: center;
      align-content: center;
      background-color: black;
      text-shadow:
        -1px -1px 0 black,
         1px -1px 0 black,
        -1px  1px 0 black,
         1px  1px 0 black;

      &::before {
        content: "";
        background: url("../../../systems/dnd5e/ui/official/banner-character-dark.webp") no-repeat top center / cover;
        position: absolute;
        inset: 0 0 auto 0;
        height: 150px;
        border-radius: 5px 5px 0 0;
        opacity: .5;
        mask-image: linear-gradient(to bottom, black, transparent);
        z-index: -1
      }
    }
  }
}

/* -------------------------------------------------- */

.application {
  max-height: 100vh;
}

/* -------------------------------------------------- */

.zhell-custom-stuff.image-search .window-content {
  display: grid;
  grid: "filters images" auto
        "footer footer" 0fr
         / 350px auto;

  [data-application-part=filters] { grid-area: filters }
  [data-application-part=images] { grid-area: images }
  [data-application-part=footer] { grid-area: footer }

  /* -------------------------------------------------- */

  [data-application-part=filters] {
    .form-group {
      margin-bottom: 1rem;
    }

    .selection {
      .form-fields {
        display: grid;
        grid-template-columns: 3rem 1fr 0fr;

        img {
          object-fit: cover;
          object-position: top;
          aspect-ratio: 1;
        }

        .filepath {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
  }

  [data-application-part=images] {
    overflow-y: auto;
    overflow-x: hidden;

    .scrollable {
      gap: 1rem;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

      &.no-score .score { display: none }

      figure {
        margin: 0;
        padding: 0;
        position: relative;
        image-rendering: pixelated;

        &.selected img {
          border-color: yellow;
        }

        [data-action=showImage] {
          position: absolute;
          top: 2px;
          right: 2px;
          opacity: 0;

          figure:hover & {
            opacity: 1;
          }
        }

        [data-action=selectImage] {
          cursor: var(--cursor-pointer);
        }

        .score {
          position: absolute;
          bottom: calc(4px + var(--input-height));
          left: 4px;
          text-align: center;
          font-family: monospace;
          background-color: black;
          line-height: var(--input-height);
          width: var(--input-height);
          border-radius: 5px;
        }

        img {
          object-position: top center;
          object-fit: cover;
          aspect-ratio: 1;
        }

        figcaption {
          margin: 0;
          line-height: var(--input-height);
          overflow: hidden;
          text-wrap: nowrap;
          text-overflow: ellipsis;
        }
      }
    }
  }

  [data-application-part=footer] {}
}

/* -------------------------------------------------- */

#crafting-settings-menu {
  .recipes-list {
    min-height: 300px;
    border: 1px solid var(--dnd5e-color-gold);
    border-radius: 1em;
    padding: 1rem;

    .form-group.label-top {
      display: grid;
      flex: none;
    }

    .form-fields:has(.form-group) {
      align-items: end;
    }
  }
}

.crafting-menu {
  max-height: 1000px;

  [data-application-part=search] {
    margin-top: 1rem;
  }

  [data-application-part=recipes] {
    tbody tr:hover {
      background-color: hsl(from rgb(119, 0, 83) h s l / 0.25);

      .theme-dark & {
        background-color: hsl(from rgb(226, 0, 158) h s l / 0.25);
      }
    }

    tbody tr td:not(:first-child) {
      text-align: center;

      button:disabled {
        cursor: not-allowed;
      }
    }
  }
}

/* -------------------------------------------------- */

.dnd5e2.sheet.actor .meter.piety {
  position: relative;
  height: 25px;
  font-size: var(--font-size-14);
  --color-dark: rgb(66, 62, 9);
  --color-light: rgb(150, 147, 6);

  &.progress::before {
    background: linear-gradient(to right, var(--color-dark) 0%, var(--color-light) 100%);
    border-inline-end: none;
  }

  &.progress::before {
    block-size: unset;
    clip-path: unset;
    box-shadow: inset 0 1px 0 1px var(--dnd5e-highlight-40);
    inset: 1px auto 1px 1px;
    inline-size: calc(var(--bar-percentage) - 2px);
    border-radius: 2px;
  }

  input {
    width: 100%;
    height: 100%;
    text-align: center;
    border: none;
    font-weight: bold;
    background: none;
    color: var(--color-text-light-0);

    &:hover, &:focus { box-shadow: 0 0 8px var(--dnd5e-color-gold); }
  }

  > div { height: 100%; }

  > .label {
    flex: 1;
    position: relative;
    display: flex;
    align-items: center;
    cursor: var(--cursor-pointer);
  }

  input { position: relative; }
}

/* -------------------------------------------------- */

#pause.paused {
  animation: none;
  background: linear-gradient(to top,
    transparent 0%,
    var(--color-cool-5-50) 2%,
    hsl(from var(--color-cool-5-50) h s l / 0.5) 50%,
    var(--color-cool-5-50) 98%,
    transparent 100%
  );

  .container {
    --count: 8;
    --slot: 500ms;
    --cycle: calc(var(--count) * var(--slot));
    position: relative;
    width: calc(100% - 10rem);
    display: flex;

    .holy-symbol {
      animation: fadeCycle var(--cycle) linear infinite;
      opacity: 0.25;

      &:nth-child(1) { --i: 1; animation-delay: calc((var(--i) - 1) * var(--slot)); }
      &:nth-child(2) { --i: 2; animation-delay: calc((var(--i) - 1) * var(--slot)); }
      &:nth-child(3) { --i: 3; animation-delay: calc((var(--i) - 1) * var(--slot)); }
      &:nth-child(4) { --i: 4; animation-delay: calc((var(--i) - 1) * var(--slot)); }
      &:nth-child(5) { --i: 5; animation-delay: calc((var(--i) - 1) * var(--slot)); }
      &:nth-child(6) { --i: 6; animation-delay: calc((var(--i) - 1) * var(--slot)); }
      &:nth-child(7) { --i: 7; animation-delay: calc((var(--i) - 1) * var(--slot)); }
      &:nth-child(8) { --i: 8; animation-delay: calc((var(--i) - 1) * var(--slot)); }
    }
  }

  figcaption {
    position: absolute;
    animation: smoothMove 10000ms linear infinite;
    white-space: nowrap;
    font-size: 40px;
    text-shadow: 0 0 4px black;
    color: var(--dnd5e-color-gold);
    font-weight: bold;
    animation-delay: -4000ms;
  }
}
@keyframes fadeCycle {
  0% {
    opacity: 0.25;
    filter: hue-rotate(0deg);
  }
  50% {
    opacity: 1;
    filter: hue-rotate(180deg);
  }
  100% {
    opacity: 0.25;
    filter: hue-rotate(360deg);
  }
}
@keyframes smoothMove {
  0% {
    left: -20%;
    filter: hue-rotate(0deg);
  }
  100% {
    left: 120%;
    filter: hue-rotate(360deg);
  }
}
