/** BOSS BAR */
#boss-bar {
  position: absolute;
  top: 1em;
  pointer-events: none;
  transition: 200ms all ease;
  opacity: 0;
  flex-direction: column;
  width: 50vw;

  &:has(.active) {
    opacity: 1;
  }

  .bar {
    position: relative;
    min-height: 4em;
    overflow: hidden;
    border-radius: 2em;
    border: solid 2px grey;

    .progress {
      transition: 200ms all ease;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;

      &.hp {
        border-right: 2px solid black;
        border-radius: 0 0.5em 0.5em 0;
      }

      &.temp {
        top: 25%;
        border-radius: 0 100% 0 0;
      }

      &.tempmax {
        right: 0;
        left: unset;
      }
    }

    .name {
      font-family: fantasy;
      font-size: 40px;
      position: relative;
      width: 100%;
      align-self: center;
      display: flex;
      justify-content: center;
      color: rgb(255, 255, 255);
      text-shadow:
        -1px -1px 0 black,
         1px -1px 0 black,
        -1px  1px 0 black,
         1px  1px 0 black;
    }
  }
}

.application {
  max-height: 100vh;
}

.dnd5e2.sheet.item.zhell-data-entry {
  width: 1258px !important;

  /* grid layout */
  .window-content {
    display: grid;

    [data-application-part=header] {
      grid-area: header;
    }
    [data-application-part=tabs] {
      display: none;
    }
    [data-application-part=description] {
      grid-area: description;
      width: 400px;
    }
    [data-application-part=details] {
      grid-area: details;
      width: 450px;
    }
    [data-application-part=contents] {
      grid-area: contents;
    }
    [data-application-part=advancement] {
      grid-area: advancement;
    }
    [data-application-part=effects] {
      grid-area: effects;
    }
    [data-application-part=activities] {
      grid-area: activities;
    }

    /* Any item with activities */
    &:has([data-application-part=activities]) {
      grid: "header header header" 0fr
            "description details activities" auto
            "description details effects" auto
            / 400px auto;

      [data-application-part=activities] { width: 400px; }
      [data-application-part=effects] { width: 400px; }
    }

    /* Any item with advancements */
    &:has([data-application-part=advancement]) {
      grid: "header header header" 0fr
            "description details advancement" auto
            / 400px auto;

      [data-application-part=details] { width: 400px; }
      [data-application-part=advancement] { width: 450px; }
    }

    /* Containers */
    &:has([data-application-part=contents]) {
      grid: "header header header" 0fr
            "contents description details" auto
            / 400px auto;

      [data-application-part=details] { width: 400px; }
      [data-application-part=contents] { width: 400px; }
    }

    /* Features (both activities and advancements) */
    &:has([data-application-part=activities]):has([data-application-part=advancement]) {
      grid: "header header header" 0fr
            "description details effects" auto
            "description details activities" auto
            "description details advancement"
            / 400px auto;

      [data-application-part=effects],
      [data-application-part=activities],
      [data-application-part=advancement] {
        width: 450px;
      }
    }
  }

  .tab {
    display: flex !important;
  }

  .create-child:not(.fake) { display: none; }

  [data-application-part]:has(.create-child.fake) {
    position: relative;
  }
  .create-child.fake {
    display: block;
    position: sticky;
    top: 0;
    left: 100%;
    z-index: 1;
  }
}
.dnd5e2.sheet.activity.zhell-data-entry {
  width: 1250px !important;

  .window-content {
    display: grid;
    grid: "header header header" 0fr
          "identity activation effect" auto
          "identity activation-time effect" auto
          "identity activation-consumption effect" auto
          "identity activation-targeting effect" auto
          / 400px auto;
  }

  .tabs {
    display: none;
  }

  [data-application-part] {
    display: flex;
  }

  [data-application-part=tabs] {
    display: none;
  }

  [data-application-part=identity] {
    width: 400px;
    grid-area: identity;
  }
  [data-application-part=activation] {
    width: 400px;
    grid-area: activation;

    [data-tab=time] {
      display: flex;
      grid-area: activation-time;
    }
    [data-tab=consumption] {
      display: flex;
      grid-area: activation-consumption;
    }
    [data-tab=activation-targeting] {
      display: flex;
      grid-area: activation-targeting;
    }
  }
  [data-application-part=effect] {
    width: 400px;
    grid-area: effect;
  }
}
