/* images on buttons with hover effects. Works best with images with no background.
   the button should toggle 'active' class when clicked.
   Put the image inside the button */
.zhell-hover-button {
    line-height: 0px;
    width: 100px;
    height: 100px;
    padding: 0 0 0 0; /*5px 5px 5px 5px;*/
    margin: 0 0 0 0;
    border: 0;
    background: inherit;
}
.zhell-hover-button > img {
    height: 90%;
    width: 90%;
    opacity: 20%;
    border: none;
}
.zhell-hover-button.active > img {
    opacity: 100% !important;
}
.zhell-hover-button > img:hover {
    filter: drop-shadow(0 0 10px red);
    opacity: 50%;
}
.zhell-hover-button:hover,
.zhell-hover-button:active,
.zhell-hover-button:focus {
    /* removes shadow from button, which is only for img */
    box-shadow: 0 0 0 red;
}

/* custom dialog behavior */
.dialog.zhell-dialog .dialog-buttons {
    flex-direction: column;
}
.dialog.zhell-dialog .dialog-buttons .dialog-button:not(:last-child) {
    margin-bottom: 5px;
}
