/* TOKEN HUD STATUS EFFECTS */
#token-hud .col.right .status-effects {
  width: max-content;
  column-gap: 0.1em;
  grid-template-columns: 1fr 1fr;
  color: var(--color-text-light-1);
  top: -100px;
}
#token-hud .col.right .status-effects .status-effect {
  display: inline-grid;
  height: fit-content;
  align-items: center;
  grid-template-columns: 2fr 7fr;
  min-width: max-content;
}
#token-hud .col.right .status-effects .status-effect.active.overlay {
  color: deepskyblue;
  opacity: 1;
  border: none;
}
#token-hud .col.right .status-effects .status-effect.active {
  color: yellowgreen;
  opacity: 1;
}
#token-hud .col.right .status-effects .status-effect:is(.active, :hover) > * {
  opacity: 1;
}
#token-hud .col.right .status-effects .status-effect-img {
  width: 36px;
  height: 36px;
  margin: 0;
  border: none;
  opacity: 0.15;
}
#token-hud .col.right .status-effects .status-effect-name {
  font-size: 18px;
  text-align: left;
  margin: 0 0 0 3px;
}
